#calculator{
    
    border : 1px solid greenyellow;
    height: 383px;
    width: 256px ;
     
    justify-content: center;
    
    
}

#screen{
    
    height: 80px;
    width: 100%;
    border: 1px solid;
    font-size: 2rem ;
    background-color: rgb(130, 130, 138);
    text-align: right;
    
}

.button{
    display: inline-block;
    padding: 6px 12px;
    height: 60px;
    width: 60px;
    
    margin-bottom: 0;
   
    font-weight: 400;
    line-height: 1.42857143;
    text-align: centre;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    
    
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.button-large{
    height: 60px;
    width: 124px;
}
.centered{
    position: fixed;
    top : 24.5%;
    left: 40%;

    
}